* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Poppins', sans-serif;
}

body {

}

.main {
    margin: 0 auto;
    position: relative;
    max-width: 1440px;
    overflow: hidden;
  
}

header {
    position: absolute;
    height: 63px;
    width: 1140px;
    left: 150px;
    top: 41px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
}

.header-icon {
    width: 63px;
    height: 63px;
    background-color: #FF64AE;
    border-radius: 50%;
    box-shadow: -1px 3px 4px #888888;
    position: relative;
}
.header-icon-1 {
    position: absolute;
    top: 10px;
    left: 14px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
}
.header-icon-2 {
    position: absolute;
    top: 24px;
    left: 28px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
}
.header-icon-3 {
    position: absolute;
    top: 26px;
    left: 40px;
    width: 40px;
    height: 11px;
    border-radius: 5px;
    background-color: #091156;
}
.logo-name {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1em;
    margin-left: 40px;
    text-align: left;
    color:#091156;
    text-shadow: 2px 2px 8px rgb(154, 153, 153);
}

.nav {
    display: flex;

}

header ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-left: 40px;
    color:#8B8B8B;
}

.home {
    font-weight: 600;
    color: #414880;
}
.Contact-button {
    height: 52px;
    width: 158px;
    background-color: #FF64AE;
    border-radius: 50px;
    text-align: center;
    line-height: 52px;
    font-size: 16px;
    color: white;
    margin-left: 40px;
    font-weight: 600;
}

.Contact-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.main-slider {
    position: relative;
    width: 100%;
    height: 805px;
}

.Bubble1 {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.Bubble2 {
    position: absolute;
    top: 0;
    left: 0;
}
.Animation-1 {
    position: absolute;
    height: 397.5px;
    width: 601.5px;

    z-index: 2;
    right: 120px;
    top: 263px;
}

.main-slider-content h1 {
    position: absolute;
    width: 430px;
    height: 128px;
    left: 189px;
    top: 316px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 125%;
    color: #091156;
    z-index: 3;
}

.main-slider-content p {
    position: absolute;
    width: 474px;
    height: 54px;
    left: 189px;
    top: 444px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #091156;
    z-index: 3;
}

.more-details-button {
    position: absolute;
    width: 200px;
    height: 58px;
    left: 189px;
    top: 526px;
    line-height: 58px;
    font-style: normal;
    font-weight: 600;
    background-color: #FF64AE;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    border-radius: 50px;
    color: #FFFFFF;
    z-index: 3;
}

.more-details-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.main-slider-button {
    position: absolute;
    width: 71px;
    height: 8.15px;
    left: 685px;
    top: 805px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    display: flex;
    align-items: center;
}
.main-slider-button:hover {
    cursor: pointer;
    opacity: 0.7;
}
.rectangle-left {
    width: 14.82px;
    height: 3.09px;
    background-color: #EEEEEE;
    border-radius: 50px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 3;
}

.rectangle-mid {
    width: 25.31px;
    height: 8.15px;
    background-color: #414880;
    border-radius: 5px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 3;
    margin: 0 8px;
}

.rectangle-right {
    width: 14.82px;
    height: 3.09px;
    background-color: #EEEEEE;
    border-radius: 50px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 3;
}

.core-services {
    width: 100%;
    height: 732px;
    margin: 0 auto;
    
}

.core-services .title-desc {
    width:848px;
    height: 192px;
    margin: 0 auto;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-services {
    
    width: 113px;
    height: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #FF64AE;
}

.title-desc-content1 {
    width: 460px;
    height: 97px;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;

    text-align: center;

    color: #091156;

}

.title-desc-content2 {
    width: 848px;
    height: 51px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #8B8B8B;

}

.box-selection {background-color: white;}

.box-selection-hold {
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
}

.box-selection-left {
    width: 343px;
    height: 458px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 25px 50px 25px #F7F7FF;
    border-radius: 50px;
}
.box-selection-mid {
    width: 343px;
    height: 458px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 25px 50px 25px #F7F7FF;
    border-radius: 50px;
}
.box-selection-right {
    
    width: 343px;
    height: 458px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 25px 50px 25px #F7F7FF;
    border-radius: 50px;
}

.box-selection-img {
    width: 166px;
    height: 166px;
    margin-top: 50px;
}

.box-selection-content1 {
    width: 263px;
    height: 37px;
    margin-top: 45px;
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
    text-align: center;
    color: #091156;
}
.box-selection-content2 {
    width: 274px;
    height: 80px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em; 
    color: #8B8B8B;
}


.about-us {
    position: relative;
    width: 100%;
    margin-bottom: 160px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.about-title-desc {
    width: 664px;
    height: 330px;  
    display: flex;         
    flex-direction: column;
}

.about-title-name {
    width: 73px;
    height: 20px;
    left: 0;
    top: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FF64AE;
}

.about-title-content1 {
    width: 664px;
    height: 52px;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    /* or 45px */


    color: #091156;
}

.about-title-content2 {

    width: 483px;
    height: 196px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;

    color: #8B8B8B;
}
.about-button-both {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-title-button {
    width: 200px;
    height: 58.36px;
    background-color: #FF64AE;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;  
    border: none;                       
    border-radius: 50px;
    cursor: pointer;
    margin-right: 30px;
}

.about-title-button:hover {
    opacity: 0.7;
}

.about-play-button {
    width: 213px;
    height: 49px;
    border: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-play-button:hover {
    opacity: 0.8;
}

.play-button-icon {
    position: relative;
    width: 49px;
    height: 49px;
    background: #091156;
    border-radius: 50%;
}
.play-button-icon::before {
    content: "";
    border-width: 15px 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: 9px;
    right: 4px;
    transform: rotate(90deg);
}

.play-button-content {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    margin-left: 20px;
    color: #8B8B8B;
}

.about-image {
    border-radius: 50px;
    transform: translate(-60px, 40px);
}

.about-background {
    position: absolute;
    width: 948.15px;
    height: 1028.89px;
    right: 0;
    top: -300px;
    z-index: -1;
}

.about-background1 {
    position: absolute;
    width: 883.63px;
    height: 959.04px;
    right:0;
    top: 15px;
    z-index: -1;
}

.about-background2 {
    
    position: absolute;
    width: 948.15px;
    height: 1028.89px;
    right:0;
    top: 0;
    z-index: -3;

}

.professional {
    position: relative;
    width: 1085px;
    height: 861px;
    margin: 0 auto;

}

.professional-title {
    position: absolute;
    width: 848px;
    height: 148px;
    left: 146px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.professional-teams {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #FF64AE;
}

.professional-title-content1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    /* or 45px */

    text-align: center;

    color: #091156;

}
.professional-title-content2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #8B8B8B;
}

.professional-section-left {
    position: absolute;
    width: 270px;
    height: 439px;
    left: 0px;
    top: 326px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.professional-section-right {
    position: absolute;
    width: 270px;
    height: 439px;
    right: 0px;
    top: 326px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.professional-section-mid {
    position: absolute;
    width: 424px;
    height: 626px;
    left: 330px;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px 25px #F7F7FF;
    border-radius: 42px;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pro-img-left-right {
    width: 146px;
    height: 146px;
    margin-bottom: 25px;
}
.pro-img-mid {
    width: 146px;
    height: 146px;
    margin-bottom: 40px;
}

.pro-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #FF64AE;

}
.pro-title-mid {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: #FF64AE;
    margin-bottom: 20px;
}

.pro-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
    text-align: center;

    color: #091156;
}
.pro-name-mid {
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
    text-align: center;

    color: #091156;
    margin-bottom: 25px;
}

.pro-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    width: 270px;
    color: #8B8B8B;
}
.pro-content-mid {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    width: 270px;
    color: #8B8B8B;
    margin-bottom: 15px;
}

.contact-us {
    position: relative;
    height: 1072px;
   
}

.contact-hold {
    display: flex;
    padding: 100px;
    justify-content: space-between;
    align-items: flex-end;

}

.contact-background {
    position: absolute;
    width: 1175.73px;
    height: 929px;
    left: 0;
    top: 0;
}

.contact-background1 {
    position: absolute;
    width: 1024.53px;
    height: 824.44px;
    left: 0;
    top: 25px;
    z-index: -1;
}
.contact-background2 {
    position: absolute;
    width: 1024.53px;
    height: 824.44px;
    left: 0;
    top: 0;
    z-index: -2;
}

.contact-animation {
    width: 520px;
    height: 614px;
    margin-bottom: 70px;
}

.contact-title {
    width: 497px;
    height: 169px;
}

.contact-us-name {
    
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: #FF64AE;

}

.contact-content1 {
    
    width: 404px;
    height: 97px;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    color: #091156;

}

.contact-content2 {
    width: 497px;
    height: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #8B8B8B;

}

.contact-form {
    width: 520px;
    height: 652px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contact-form-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-form-name input {
    width: 242.21px;
    height: 61.58px;
    color: rgb(25, 24, 24);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;;
    border: 1px solid #D9DDFE;
    border-radius: 15px;
    padding: 0 20px;
}

.contact-form input::placeholder {
    color: #C5C5C5;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.contact-form-email-message {
    color: rgb(25, 24, 24);
    font-weight: 400;
    font-size: 16px;
    width: 520px;
    height: 61.58px;
    padding: 0 20px;
    border: 1px solid #D9DDFE;
    border-radius: 15px;
}

.contact-form-inquiry {
    color: rgb(25, 24, 24);
    font-weight: 400;
    font-size: 16px;
    width: 520px;
    height: 239.47px;
    border: 1px solid #D9DDFE;
    border-radius: 15px;
    padding: 10px 20px;
}

.contact-form-inquiry::placeholder {
    color: #C5C5C5;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.contact-form-confirm {
    width: 248px;
    height: 58px;
    background-color: #FF64AE;
    box-shadow: 0px 17px 22px #FFEDF6;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: none;
}

.contact-form-confirm:hover {
    opacity: 0.7;
}

.footer {
    position: relative;
    height: 705.34px;
    margin: 0 auto;
}

.footer-container {
    display: flex;
    padding: 0 150px;
    justify-content: space-between;
    transform: translate(0, 200px);
}

.footer-background1 {
    position: absolute;
    width: 1440px;
    height: 704.53px;
    left: 0px;
    top: 0;
    z-index: -1;
}

.footer-background2 {
    position: absolute;
    width: 1440px;
    height: 704.53px;
    left: 0px;
    top: 0;
    z-index: -2;
}

.footer-sidebar1 {
    width: 492px;
    height: 191px;

}

.footer-sidebar1 .logo {
    height: 63px;
    margin-bottom: 25px;
}

.footer .header-icon {
    box-shadow: none;
}


.footer .header-icon-3 {
    background-color: white;
}

.footer .logo-name {
    color: white;
    text-shadow: none;
}

.footer-sidebar1-content {
    margin: 0 0 25px 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #D7DBFF;
}


.footer-sidebar1-address {
    margin: 0 0 12px 30px;
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    color: #D7DBFF;
}

.footer-sidebar1-phone-email {
    margin-left: 30px;
}

.footer-sidebar1-phone-email a {
    color: white;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
}

.footer-sidebar1-phone-email .phone {
    text-decoration: none;
    margin-right: 50px;
    
}


.footer-sidebar2 {
    
    width: 131px;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-sidebar2 .item {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    letter-spacing: 0.1em;
    color: #D7DBFF;
    margin-left: 12px;
}

.footer-sidebar2 .item::before {
    content: "";
    border-width: 5px 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: 7px;
    left: -10px;
    transform: rotate(90deg);
}

.footer-sidebar2 .pages {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.1em;

color: #FFFFFF;

}


.footer-sidebar3 {
    
    width: 215px;
    height: 184px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-sidebar3 .item {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    letter-spacing: 0.1em;
    color: #D7DBFF;
    margin-left: 12px;
}

.footer-sidebar3 .item::before {
    content: "";
    border-width: 5px 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: 7px;
    left: -10px;
    transform: rotate(90deg);
}

.footer-sidebar3 .informations {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.arrow-to-top {
    position: absolute;
    top: 500px;
    right: 70px;
}

.footer-bottom {
    display: flex;
    transform: translate(0 , 370px);
    justify-content: space-between;
    padding: 0 150px;

}

.social-media {
    width: 305px;
    height: 27.84px;
    display: flex;
    justify-content: space-between;

}

.source {
    width: 497px;
    height: 31.18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.1em;

    color: #D7DBFF;
}

.footer::before {
    position: absolute;
    content: "";
    width: 1440px;
    height: 125px;
    left: 0px;
    bottom: 0;
    background: #0D165C;
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: -4;
}




